<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />

		<!--Bootstrap-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"/>
        <!--Fonts-->
        <link rel="stylesheet" href=""/>
        <!--Custom styling-->
        <link rel="stylesheet" href="/css/reset.css"/>
		<link rel="stylesheet" href="/css/style.css"/>
        <!--Favicon -->
		<link rel="shortcut icon" type="image/ico" href="/images/favicon_lrg.png"/>

		<title>Find your pawfect match for pet adoption</title>
	</head>

    <!-- Checks if the user is logged in and renders the correct nav bar -->
    {{#if logged_in}}
    <body>
     	<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="/">
                    <img
                        src="/images/header_logo.png"
                        alt="Pawfect Match"
                        class="header logo"
                    />
                </a>
				<button
					class="navbar-toggler"
					type="button"
					data-toggle="collapse"
					data-target="#navbarNav"
					aria-controls="navbarNav"
					aria-expanded="false"
					aria-label="Toggle navigation"
				    >
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-around" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a
								class="nav-link font-weight-bold text-reset h4"
								href="/postForAdoption"
								>Post your pet ~
								<span class="sr-only">(current)</span></a
							>
						</li> 
						<li class="nav-item">
							<a
								class="nav-link font-weight-bold text-reset h4"
								href="/adoptpets"
								>Pets for adoption ~</a
							>
						</li>
						<li class="nav-item">
							<a
								class="nav-link font-weight-bold text-reset h4"
								href="/dashboard"
								>Dashboard</a
							>
						</li>
					</ul>
                    <div class="topnav">
				        <a class="btn btn-secondary btn-lg" id="logout" href="/" role="button"
					    >Logout</a
				        >
			        </div>
				</div>
			</nav>
		</header>
    </body>
    {{else}}
	<body>
    	<header class="navbar">
			<article>
                <a href="/">
				<img
					src="/images/header_logo.png"
					alt="Pawfect Match"
					class="header logo"
				/>
                </a>
			</article>

			<div class="topnav">
				<a class="btn btn-secondary btn-lg" href="/login" role="button"
					>Sign Up/Login</a
				>
			</div>
		</header>
    {{/if}}
    <!-- Render the sub layout -->
        {{{body}}}
    <!-- footer remains on each page -->
		<footer
			class="text-center footer mt-auto p-4"
			style="background-color: #fab49a; color: #7d5445"
		    >
			© 2022:
			<a
				class="text-reset fw-bold"
				href="https://github.com/hayleyarodgers/pawfect-match"
				>Pawfect Match</a
			>
		</footer>
    </body>
</html>