<main class="text-center ">

    <div class="jumbotron mt-4"> 
        <h2 class="my-4 ">Find your pawfect match for pet adoption</h2>
        <h3>click on an img below to browse the listed cats and dogs</h3>
        <hr class="my-4" />
        <div class="d-flex justify-content-around flex-wrap">
        <a href='/adoptpets/cat'><img src="/images/cute-cat.gif" alt="Cute Cat" /></a>
        <a href='/adoptpets/dog'><img src="/images/cute-dog.gif" alt="Cute Dog" /></a>
        </div>
    </div>
</main>