<main class="text-center">
    <br>
    <h2 class="my-4">Find your Pawfect Match.</h2>
    <p>Click on an image below to see the cats or dogs currently available for adoption.<p>
    <br>
    <div class="d-flex justify-content-around flex-wrap">
        <div>
            <h3>Cats</h3>
            <a href='/adoptpet/cat'><img src="/images/little-cat.gif" alt="Cute Cat" /></a>
        </div>
        <div>
            <h3>Dogs</h3>
            <a href='/adoptpet/dog'><img src="/images/excited-dog.gif" alt="Cute Dog" /></a>
        </div>
    </div>
</main>