<main>
    <div class="container h-100 d-flex text-center">
        <div class="jumbotron">
            <h1 class="display-center;">Pawfect Match</h1>
            <p class="lead">Find your new best furry friend.</p>

            <img src="/images/dog_cat.gif" alt="Dog and Cat" />
            <img src="/images/cats-kawaii.gif" alt="Cat" />
            <img
                src="/images/confused-dog.gif"
                alt="Confused Dog"
            />
            <img
                src="/images/little-cat.gif"
                alt="Little Cat"
            />
            <img src="/images/cute-dog.gif" alt="Cute Dog" />
            <img src="/images/dog-cat2.gif" alt="Cat and Dog" />
            <img src="/images/cute-cat.gif" alt="Cute Cat" />
            <img
                src="/images/excited-dog.gif"
                alt="Excited Dog"
            />

            <hr class="my-4" />
            <p>
                Pawfect Match is the online destination matching pets in
                need of a new home with their forever family.
            </p>
            <p class="lead">
                <a
                    class="btn btn-secondary btn-lg"
                    href="/login"
                    role="button"
                    >Sign Up/Login</a
                >
            </p>
        </div>
    </div>

</main>