<main>
    <div class="container h-100 d-flex text-center">
        <div>
            <br>
            <h2>Welcome to Pawfect Match!</h2>
            <br>
            <p>The online destination for matching pets in need of a new home with their forever family.</p>
            <p>To get involved, <a href="/login"><b>log in or sign up.</b></a></p>
            <br>
            <div class="col-8 mx-auto">
                <img src="/images/dog_cat.gif" alt="Dog and Cat" />
                <img src="/images/cats-kawaii.gif" alt="Cat" />
                <img src="/images/confused-dog.gif" alt="Confused Dog" />
                <img src="/images/little-cat.gif" alt="Little Cat"/>
                <img src="/images/cute-dog.gif" alt="Cute Dog" />
                <img src="/images/dog-cat2.gif" alt="Cat and Dog" />
                <img src="/images/cute-cat.gif" alt="Cute Cat" />
                <img src="/images/excited-dog.gif" alt="Excited Dog" />
            </div>
        </div>
    </div>
</main>