<div>
    <h1>THIS IS LOGIN PAGE</h1>
    <form class="login-form">
        <label for="email-login">Email: </label><input id="email-login" name="email" type="email" />
        <label for="password-login">Password:</label><input id="password-login" name="password" type="password" />
        <button type="submit">Login</button>
    </form>
</div>

<script src="/js/login.js"></script>
