<main>
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-7 my-5 mx-auto">
                <h2>Log in</h2>
                <p class="italics">If you already have an account.</p>
                <form class="login-form">
                    <label class="d-flex justify-content-between" for="email-login">Email<input class="w-75 form-control input-sm" id="email-login" name="username" type="text" /></label>
                    <label class="d-flex justify-content-between" for="password-login">Password<input class="w-75 form-control input-sm" id="password-login" name="password" type="password" /></label>
                    <button id="login-button" class="btn btn-secondary btn-lg my-4 px-5" type="submit">LOG IN</button>
                </form>
            </div>
            <div class="col-7 my-5 mx-auto">
                <h2>Sign up</h2>
                <p class="italics">If you don't already have an account.</p>
                <form class="signup-form">
                    <label class="d-flex justify-content-between" for="username-signup">Username<input class="w-75 form-control" id="username-signup" name="username" type="text"></label>
                    <label class="d-flex justify-content-between"  for="email-signup">Email<input class="w-75 form-control input-sm" id="email-signup" name="email" type="email" /></label>
                    <label class="d-flex justify-content-between"  for="password-signup">Password<input class="w-75 form-control input-sm" id="password-signup" name="password" type="password" /></label>
                    <button id="signup-button" class="btn btn-secondary btn-lg my-4 px-5"  type="submit">SIGN UP</button>
                </form>
            </div>
        </div>
    </div>
</main>
<script src="./js/login.js"></script>
