<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-7 mx-auto">
            <div class="text-center">
                <br>
                <h2>Let's help your pet find their Pawfect Match!</h2>
                <br>
                <p>Please tell us more about them.</p>
                <br>
            </div>
            <form class="adoption-form">
                <label class="d-flex justify-content-between" for="pet-name">Name<input class="w-75 form-control input-sm" id="pet-name" name="pet-name" type="text" /></label>
                <label class="d-flex justify-content-between" for="pet-location">Location<input class="w-75 form-control input-sm" id="pet-location" name="pet-location" type="text" /></label>
                <label class="d-flex justify-content-between" for="pet-colour">Colour<input class="w-75 form-control input-sm" id="pet-colour" name="pet-breed" type="text" /></label>
                <label class="d-flex justify-content-between" for="pet-breed">Breed<input class="w-75 form-control input-sm" id="pet-breed" name="pet-breed" type="text" /></label>
                <label class="d-flex justify-content-between" for="pet-personality">Personality<input class="w-75 form-control input-sm" id="pet-personality" name="pet-personality" type="text" /></label>
                <label class="d-flex justify-content-between" for="pet-type">Type<select class="w-75 form-control input-sm" name="pet-type" id="pet-type"><option value="cat">Cat</option><option value="dog">Dog</option></select></label>
                <label class="d-flex justify-content-between" for="pet-sex">Sex<select class="w-75 form-control input-sm" name="pet-sex" id="pet-sex"><option value="Female">Female</option><option value="Male">Male</option></select></label>
                <label class="d-flex justify-content-between" for="pet-size">Size<select class="w-75 form-control input-sm" name="pet-size" id="pet-size"><option value="Small">Small</option><option value="Medium">Medium</option><option value="Large">Large</option></select></label>
                <label class="d-flex justify-content-between" for="pet-birthday">Birthday<input clas="w-75 form-control input-sm" id="pet-birthday" name="pet-birthday" type="date" /></label>
                <label class="d-flex justify-content-between" for="pet-birthday">Photo<input class="w-75 form-control input-sm" id="pet-photo" name="pet-photo" type="file" /></label>
            </form>
            <div class="text-center">
                <br>
                <div><button id="post-button" class="btn btn-secondary btn-lg my-4 px-5" type="submit">POST FOR ADOPTION</button></div>
                <br>
            </div>
        </div>
    </div>
</div>

<!--Javascript-->
<script src="/js/postForAdoption.js"></script>
