<div class="container-fluid">
    <h2>Let's help your pet find their Pawfect Match!</h2>
    <p>Please tell us more about them.</p>
    <form id="adoption-form">
        <label for="pet-name">Name:</label><input type="text" id="pet-name" /><br />
        <label for="pet-location">Location:</label><input type="text" id="pet-location" /><br />
        <label for="pet-type">Type:</label>
        <select name="pet-type" id="pet-type">
            <option value="cat">Cat</option>
            <option value="dog">Dog</option>
        </select><br />
        <label for="pet-breed">Breed:</label><input type="text" id="pet-breed" /><br />
        <label for="pet-sex">Sex:</label>
        <select name="pet-sex" id="pet-sex">
            <option value="female">Female</option>
            <option value="male">Male</option>
        </select><br />
        <label for="pet-size">Size:</label>
        <select name="pet-size" id="pet-size">
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
        </select><br />
        <label for="pet-colour">Colour:</label><input type="text" id="pet-colour" /><br />
        <label for="pet-birthday">Estimated birthday:</label><input type="date" id="pet-birthday" name="pet-birthday"><br />
        <label for="pet-personality">Personality:</label><input type="text" id="pet-personality" /><br />
        <label for="pet-photo">Attach a photo:</label><input type="file" name="pet-photo" id="pet-photo" /><br />
        <button id="post-button" class="btn btn-primary" type="submit">Post</button>
    </form>
</div>

<!--Javascript-->
<script src="/js/postForAdoption.js"></script>
