.navbar {
	padding: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	background: #fab49a;
	color: #7d5445;
	width: 100%;
	height: 180px;
	padding: 20px;
	margin-top: 0px;
}

body {
	color: #7d5445;
	background: #fbedca;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.header logo {
	height: 100%;
	padding: 20px;
}

.btn {
	background-color: #7d5445;
}

.jumbotron {
	padding: 2rem 4rem;
}

a {
	color: #7d5445;
}

img {
	max-width: 100%;
	height: auto;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
}

.logo {
	border: 0;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.bg-card {
	background-color: #ddd;
	width: 50rem;
}

.pet-label{
	color:#0799a5;
	letter-spacing: 1px;
	font-weight: bold;
}

.pet-info{
	letter-spacing: 0.5px;
	font-size: 1.2rem;
}

.comment-title{
	font-size: 1.5rem;
	color:#0799a5;
	letter-spacing: 1px;
	padding-top: 10%;
}

.back-link{
	padding-top: 5%;
	text-decoration: underline;
}