.navbar {
	padding: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	background: #fab49a;
	color: #7d5445;
	width: 100%;
	height: 180px;
	padding: 20px;
	margin-top: 0px;
}

body {
	color: #7d5445;
	background: #fbedca;
}

.header logo {
	height: 100%;
	padding: 20px;
}

.btn {
	background-color: #7d5445;
}

.jumbotron {
	padding: 2rem 4rem;
}
